/* 1. 定义基础变量（日间模式默认值） */
:root {
  --main-bg-color: #f8f9f9; // 右侧主界面
  --list-bg-color: #f8f9f9; // 左侧英雄列表
  --list-item-bg-color: #ebeded; // 左侧选中英雄文本色
  --list-item-text-color: #64a5aa; // 左侧选中英雄文本色
  --list-item-active-bg-color: #64a5aa; // 左侧选中英雄背景色
  --list-item-active-text-color: #ffffff; // 左侧选中英雄文本色
  --search-box-bg-color: #ebeded; // 搜索框背景色
  --search-box-text-color: #000; // 搜索框文本色
  --select-box-border-color: rgba(92, 184, 92, 0.7); // 选择框边框颜色
  --split-line-color: #f0f2f2; // 分割线颜色
  --scrollbar-thumb-color: #ced4da; // 滚动条滑块颜色
  --scrollbar-thumb-hover-color: #adb5bd; // 滚动条滑块颜色
  --select-box-bprder-color: #66bb6a; // 选择框背景色
}

/* 2. 夜间模式变量（覆盖基础变量） */
:root.dark-theme {
  --main-bg-color: #242e3b; // 右侧主界面
  --list-bg-color: #1f2937; // 左侧英雄列表
  --list-item-bg-color: #1f2937; // 左侧选中英雄文本色
  --list-item-text-color: #bdc0c6; // 左侧选中英雄文本色
  --list-item-active-bg-color: #374151; // 左侧选中英雄背景色
  --list-item-active-text-color: #bdc0c6; // 左侧选中英雄文本色
  --search-box-bg-color: #374151; // 搜索框背景色
  --search-box-text-color: #f0f0f0; // 搜索框文本色
  --select-box-border-color: rgba(255, 215, 0, 0.7); // 选择框边框颜色
  --split-line-color: #303a49; // 分割线颜色
  --scrollbar-thumb-color: #2d3748; // 滚动条滑块颜色
  --scrollbar-thumb-hover-color: #6b7280; // 滚动条滑块颜色
  --select-box-bprder-color: #234c6a; // 选择框背景色
}
